<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS86BX4xwahigsBDg1u1O8KTxwt9KONvM</string>
	<key>GCM_SENDER_ID</key>
	<string>17297236319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tim.todolist</string>
	<key>PROJECT_ID</key>
	<string>swift-ui-todolist-19f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-ui-todolist-19f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17297236319:ios:aef92446654c90672e16ea</string>
</dict>
</plist>